---
import readableDate from "../lib/readableDate"

const { title, description, banner, date, tags, slug } = Astro.props
const slugLink = `/posts/${slug}`
---

<div class="flex w-full flex-col p-2" itemtype="https://schema.org/BlogPost" itemscope>
  <a href={slugLink} itemprop="url">
    <img
      itemprop="image"
      src={banner}
      alt={`Banner for ${title}`}
      decoding="async"
      fetchpriority="auto"
      draggable="false"
      class="block aspect-video w-full rounded-xl object-cover"
    />
  </a>
  <div class="mt-4 flex flex-col gap-y-3 text-base">
    <h2 class="text-3xl font-bold">
      <a href={slugLink} itemprop="title">
        {title}
      </a>
    </h2>
    <p itemprop="abstract">
      {description}
    </p>
    <time datetime={date} itemprop="datePublished">
      {readableDate(date)}
    </time>
  </div>
</div>
