---
import BlogPost from "../components/BlogPost.astro"
import Layout from "../components/Layout.astro"
import RSSNotice from "../components/RSSNotice.astro"
import { contentfulClient, type BlogPost as IBlogPost } from "../lib/contentful"

const entries = await contentfulClient.getEntries<IBlogPost>({
  content_type: "blogPost",
  limit: 10,
})

const posts = entries.items.map((item) => {
  const { title, description, overridePublishDate, slug, banner } = item.fields
  const image = `https:${banner.fields.file.url}`

  const datePublished = overridePublishDate
    ? overridePublishDate
    : item.sys.createdAt

  return {
    title,
    slug,
    description,
    banner: image,
    date: datePublished,
  }
})

const filteredPosts = posts.sort(
  (a, b) => (new Date(b.date) as any) - (new Date(a.date) as any),
)
---

<Layout
  title="Kuroji Fusky Blog"
  description="A place I nerd stuff just for hecks"
>
  <main>
    <section>
      <h1 class="text-4xl font-bold my-3.5">Latest posts</h1>
      <div class="grid grid-cols-3 justify-center gap-1">
        {
          filteredPosts.map((post) => (
            <BlogPost
              title={post.title}
              image={post.banner}
              date={post.date}
              slug={post.slug}
            />
          ))
        }
      </div>
    </section>
  </main>
  <RSSNotice />
</Layout>
