---
import readableDate from "../lib/readableDate"

const { title, description, banner, date, tags, slug } = Astro.props
const slugLink = `/posts/${slug}`
---

<div
  class="flex flex-col w-full p-2"
  itemtype="https://schema.org/Blog"
  itemscope
>
  <a href={slugLink} itemprop="url">
    <img
      itemprop="image"
      src={banner}
      alt={`Banner for ${title}`}
      decoding="async"
      fetchpriority="auto"
      draggable="false"
      class="aspect-video w-full object-cover block rounded-lg"
    />
  </a>
  <h2 class="font-bold text-2xl my-3">
    <a href={slugLink} itemprop="title">
      {title}
    </a>
  </h2>
  <p itemprop="abstract">
    {description}
  </p>
  <time datetime={date} itemprop="datePublished">
    {readableDate(date)}
  </time>
</div>
