---
import Navbar from "./Navbar.vue"

const { title, description } = Astro.props
const authorHandle = "@kurojifusky"
const currentPath = `https://blog.kurojifusky.com${Astro.url.pathname}`
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="/favicon.png" fetchpriority="high" />
    <meta name="robots" content="index,follow,archive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta property="og:site_name" content="Kuroji Fusky Blog" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={currentPath} />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={currentPath} />
    <meta name="twitter:site" content={authorHandle} />
    <meta name="twitter:creator" content={authorHandle} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={currentPath} />
    <title>{title}</title>
  </head>
  <body class="antialiased bg-kuro-dark2 text-slate-100">
    <Navbar />
    <slot />
  </body>
</html>
